
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>airhacks-repository</id>
            <name>Internet mirror for airhacks.com</name>
            <url>http://localhost:2121/archiva/repository/internal</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
 <profiles>
    <profile>
      <id>airhacks</id>
      <repositories>
        <repository>
          <id>airhacks-repository</id>
          <url>http://localhost:2121/archiva/repository/internal</url>          
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>airhacks-repository</id>
          <url>http://localhost:2121/archiva/repository/internal</url>          
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>airhacks</activeProfile>
  </activeProfiles>    
</settings>